.aboutPageWrapper {
  align-content: center;
  /* Add styles for AboutPageWrapper here */
}

.aboutSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  /* Add styles for AboutSection here */
}

.logoWithName {
  /* Add styles for LogoWithName here */
  margin-bottom: 1rem;
}

.styledList {
  & > li {
    text-align: start;
  }
  /* Add styles for StyledList here */
}
