:root {
  --c-white: oklch(100% 0.01 296 / 0.9);
  --c-black: oklch(14% 0 296);
  --c-foreground: var(--c-white);
  --c-background: var(--c-black);
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--c-foreground);
  background-color: var(--c-background);
  /* filter: grayscale(1); */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--c-foreground);
  text-decoration: inherit;
}
a:hover {
  color: var(--c-foreground);
  text-decoration: underline;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--c-background);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--c-foreground);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    --c-foreground: var(--c-black);
    --c-background: var(--c-white);
    /* color: var(--c-background);
    background-color: var(--c-foreground); */
  }
  /* a:hover {
    color: var(--c-background);
  } */
  /* button {
    background-color: var(--c-foreground);
  } */
}
